@page "/habits"
@using Habitual.Client

<h1>Habits</h1>

<ul>
@foreach (var habit in habitConcepts){
    <li><HabitConceptEditor Concept="@habit" Mode="@ComponentMode.Edit" OnClick="UpdateConcept" /></li>
}
</ul>

<HabitConceptEditor Concept="@HabitConcept.Create()" Mode="@ComponentMode.Add" OnClick="AddConcept" />

@code {

    private List<HabitConcept> habitConcepts = new List<HabitConcept>();

    private void AddConcept(HabitConcept concept){
        habitConcepts.Add(concept);
        System.Console.WriteLine("Added " + concept);
        concept = new HabitConcept {Active = true, Start=DateTime.Now};
    }

    private void UpdateConcept(HabitConcept concept){
        var conceptToUpdate = habitConcepts.FirstOrDefault(item => item.Id == concept.Id);
        conceptToUpdate.UpdateFrom(concept);
        System.Console.WriteLine("Updated " + concept);
        concept = new HabitConcept {Active = true, Start=DateTime.Now};
    }
}