@page "/habits"
@using Habitual.Client
@inject HabitsModel Model

<h1>Habits</h1>

<ul>
@foreach (var habit in Model.HabitConcepts){
    <li><HabitConceptEditor Concept="@habit" Mode="@ComponentMode.Edit" OnClick="UpdateConcept" /></li>
}
</ul>

<HabitConceptEditor Concept="@HabitConcept.Create()" Mode="@ComponentMode.Add" OnClick="AddConcept" />

@code {

    //private List<HabitConcept> habitConcepts = new List<HabitConcept>();

    private void AddConcept(HabitConcept concept){
        Model.AddConcept(concept);
        System.Console.WriteLine("Added " + concept);
        concept = new HabitConcept {Active = true, Start=DateTime.Now};
    }

    private void UpdateConcept(HabitConcept concept){
        Model.UpdateConcept(concept);
        System.Console.WriteLine("Updated " + concept);
        concept = new HabitConcept {Active = true, Start=DateTime.Now};
    }
}