@using Habitual.Client

<EditForm Model="@Concept" OnValidSubmit="@(() => OnClick.InvokeAsync(Concept))">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <input placeholder="Name" @bind="Concept.Name"/>
    <InputSelect @bind-Value="Concept.Type">
        <option value="Good">Good</option>
        <option value="Bad">Bad</option>
    </InputSelect>
    <input placeholder="Started" @bind="Concept.Start"/>
    <button type="submit">@ButtonText(Mode)</button>
</EditForm>

@code {
    [Parameter]
    public HabitConcept Concept {get; set; }

    [Parameter]
    public ComponentMode Mode {get; set;}

    [Parameter] public EventCallback<HabitConcept> OnClick { get; set; }
    
    private string Buttontext(ComponentMode mode){
        return mode==ComponentMode.Add?"Add":"Update";
    }
}